body
{
	background-color: #f3e5f5;
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}


#intro
{ 
	color:  #005 ;
	background-color: #DDF ;
	text-align: center;
	line-height: 1.5;
	height: 90vh;
	font-weight: bold;
	overflow: hidden;
	
}

#turingtonHeading
{
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	padding: 70px;
}
@media only screen and (max-width: 600px) 
{
	#turingtonHeading
	{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 2.5em;
	}
}



.navBar
{

	overflow: hidden;
	background-color: #110e5f;
	opacity: 0.75;
	display: block;
	
	height: 10vh;
	
	position: -webkit-sticky;
 	position: sticky;
 	top: 0;

}




.navBar a
{
	color:  #f7f9f9 ;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	overflow: hidden;

	padding: 15px;

}

.navBar a:hover
{
	border-bottom: 2px;
	border-bottom-color: red;
}














/*---------------------------------------------*/


#about
{
	padding: 30px;
	background-color: #ddd;
	text-align: center;
	display: block;
}




#events
{
	padding-top: 40px;
	padding-bottom: 30px;
	overflow: scroll;
}


.event
{

	display: inline-block;
	overflow: hidden;
	background-color: red;

	padding: 10px;
	margin: 10px;

}

#sponsors
{
	display: block;
	overflow: hidden;
	padding: 30px;

}

.sponsor
{
	display: inline-block;	
	padding: 0px;
	margin: 10px;

}

.sponsor img
{
}


