body
{
	//font-family: Arial, Helvetica, sans-serif;
	background-color: #f3e5f5;
	padding: 0px;
	margin: 0px;
}




#intro
{ 
	color:  #f7f9f9 ;
	background-color: #273746 ;
	text-align: center;
	line-height: 1.5;
	height: 90vh;
	
	overflow: hidden;
}



.navBar
{

	overflow: hidden;
	background-color: #273746;
	opacity: 0.75;
	display: block;
	
	height: 10vh;
	
	position: -webkit-sticky;
 	position: sticky;
 	top: 0;

}




.navBar a
{
	color:  #f7f9f9 ;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	overflow: hidden;

	padding: 15px;

}


#contacts
{
	
	display: block;
	padding: 5%;


	/*temp*/	
	background-color: blue;
	
}

#boxContainer
{
	display: block;
	min-height: 20vw;
	
	padding-left: 10%;	 
	column-count: 4;
}

@media only screen and (max-width: 600px) 
{
	#boxContainer
	{
		column-count: 2;
	}
}

.box
{
	display: table;
}

#turingtonLogo
{
	height: 100px;
}

.quick-links 
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;

	text-align: left;
	color: white;
	display: block;
	font-size: 0.9em;
	text-decoration: none;

}

.quick-links-small 
{
	padding: 5px;

	text-align: left;
	display: block;
	font-size: 0.9em;
	text-decoration: none;
	color: #DDD;
		
}


/*footer text*/
#footer-text
{
	padding: 30px;
	font-size: 0.8em; 
	color: white;
	display: block;
}

#footer-text a
{
	text-align: center;
	color: white;
	display: inline-block;
}

/*social media logo*/

.fa 
{

	float: right;
  padding: 15px;

  text-align: center;
  text-decoration: none;

  display: inline-block;
  overflow: hidden;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook , .fa-twitter , .fa-youtube , .fa-instagram {
  color: white;
}

















/*---------------------------------------------*/


#about
{
	padding: 30px;
	background-color: #f2ae72;
	text-align: center;
	display: block;
}




#events
{
	padding-top: 40px;
	padding-bottom: 30px;
	overflow: scroll;
}


.event
{

	display: inline-block;
	overflow: hidden;
	background-color: red;

	padding: 10px;
	margin: 10px;

}

