html,body
{
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	scroll-behavior: smooth;
}


#intro
{ 
	color:  white ;
	text-align: center;
	line-height: 1.5;
	font-weight: bold;
	overflow: hidden;
	display: block;

	height: 100vh;

	background-image: url("../img/b1.svg");
	background-repeat: no-repeat;
	background-size: auto 100%;

}



#turingtonHeading
{
	font-weight: bold;
	font-size: 5em;
	text-align: center;


	padding-top: 90px;
	margin-top: 90px;


	margin-bottom: 5px;
	padding-bottom: 5px; 

}
@media only screen and (max-width: 600px) 
{
	#turingtonHeading
	{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 2.5em;
	}
}



.heading
{
	color:  #110e5f ;
	text-align: center;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2.5em;
}

#happy
{
	background-image: url("../img/happy.svg");
	position: relative;
	top: 5%;
	left: 40%;
	width: 20%;
	height: 20%;
}

#plane
{
	background-image: url("../img/plane.svg");
	position: absolute;
	top: 5%;
	left: 40%;
	width: 30%;
	height: 30%;
}












/*---------------------------------------------*/


#about
{
	text-align: center;
	display: block;
	padding: 2% 4%;
	margin: 10%;
	border-radius: 15px;

	color: #110e5f;
	background-color: #DDD;
	font-style: italic;
	font-size: 1.1em;

}

@media only screen and (max-width: 600px) 
{
	#about
	{
		padding: 2% 4%;
		margin: 2%;
		font-size: 1em;
	}
}






