
#sponsors
{
	text-align: center;
	display: block;
	overflow: hidden;
}

#sponsorsContainer
{
	padding: 0;
	margin: 10%;
	margin-top: 0;
	margin-bottom: 0;
}

.sponsorTemplate
{
	display: inline-block;	
	padding: 0px;
	margin: 40px;

}

.sponsorTemplate img
{

	display: inline-block;
	
}
