
#sponsors
{
	text-align: center;
	display: block;
	padding: 30px 60px;
	overflow: hidden;

	background-image: url("../img/b4.svg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#sponsorsContainer
{
	column-count: 4;
}

.sponsorTemplate
{
	display: inline-block;	
	padding: 0px;
	margin: 10px;

}

.sponsor img
{
}
